<div class="main-content">
  <div *ngIf="isLogin()">
    <div class="main-title">
      <h1>Promotions</h1>
    </div>

    <app-carousel-article-promo *ngIf="articles.length>0; else no_articles_promo"></app-carousel-article-promo>

    <ng-template #no_articles_promo>
      No Promotion available
    </ng-template>

    <hr class="margin-separator">

  </div>


  <div>
    <div class="main-title">
      <h1>Current auctions</h1>
    </div>
    <div class="display-inline-flex" *ngIf="articles.length>0; else no_articles">
      <app-article-card *ngFor="let a of articles" [_article]="a"></app-article-card>
    </div>

    <ng-template #no_articles>
      No Auction available
    </ng-template>
  </div>
</div>
