html, body {
  margin: 0;
  height: 100%;
  background-color: #323232;
  color: white;
}
a{color: white;}

mat-form-field{
  color: white;
}

.display-inline-flex{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.notfound{
  background-size: 500px;
  margin-left: auto;
  margin-right: auto;
  background: url('assets/images/error-404.png') no-repeat center;
  background-size: contain;
  color: #2d2d2d;
  width: 500px;
  height: 500px;
}

footer{
  height: 271px;
  background: #393939;
}

/*nwt-drawer-container{*/
/*  height: 100%;*/
/*}*/

.main-root { display: flex; width: 100%; height: 100% }
/*mat-drawer-container { flex: 1 1 auto; }*/

.margin-separator{
  margin-top: 1%;
  margin-bottom: 1%;
}

* /deep/ * {
  font-family: inherit;
  font-size: 14px;
  /*line-height: 1.42857143;*/
  color: inherit;
}
h1, * /deep/ h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

button[mat-fab], a[mat-fab] {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

[mat-fab] mat-icon {
  font-size: 2em;
  line-height: 19px;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  transform: scale(1.5);
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
