  <div class="video-card">
    <div class="video-card-image">
      <a [routerLink]="[baseUrl[0].url, article.id]">
        <img class="img-fluid" src="/assets/images/no_preview.png" alt="">
      </a>
    </div>
    <div class="video-card-body">
      <div class="video-title">
        <a [routerLink]="[baseUrl[0].url, article.id]"></a>
      </div>
      <div class="video-page text-success">
        <a title="" data-placement="top" data-toggle="tooltip"
           [routerLink]="['/author', article.id]">
          {{ article.name }}
        </a>
      </div>
      <div class="video-view">
        <p *ngIf="article.auction.best?.price; else firstPrice">{{article.auction.best.price}} €</p>
        <ng-template #firstPrice><p>{{article.auction.firstPrice}} €</p></ng-template>
        <mat-icon class="fas calendar-size">calendar_today</mat-icon>
        {{ article.auction.timeLimit }}
      </div>
    </div>
  </div>
