.category-item {
  background: #464646 none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 0 6px #323232;
  margin: 6px 2px;
  padding: 24px 12px;
  text-align: center;
}
.category-item img {
  background: #464646 none repeat scroll 0 0;
  border-radius: 50px;
  box-shadow: 0 0 2px #323232;
  height: 60px;
  margin: 0 0 8px;
  object-fit: scale-down;
  transform: scale(1);
  width: 60px;
}

.category-img {
  width: 60px!important;
}

.category-item h6 {
  font-size: 13px;
  margin: 5px 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff;
}
