# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Travail\Cours\Master\Deuxieme_Annee\Semestre9\GenieLogiciel\Auction-JEE\auction-jee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
