<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="articles">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"
          [routerLink]="[baseUrl[0].url, element.id]"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="best">
      <th mat-header-cell *matHeaderCellDef> Best </th>
      <td mat-cell *matCellDef="let element"> {{element.auction.best.price}} </td>
    </ng-container>

    <ng-container matColumnDef="last">
      <th mat-header-cell *matHeaderCellDef> Last Participation </th>
      <td mat-cell *matCellDef="let i = index"> {{participations[i].price}} </td>
    </ng-container>

    <ng-container matColumnDef="time_limit">
      <th mat-header-cell *matHeaderCellDef> Limit Date </th>
      <td mat-cell *matCellDef="let element"
          [ngStyle]="{'background-color': (toDate(element.auction.timeLimit) > getDate()) ? '#79B74A' : '#B74A4A'}">
        {{element.auction.timeLimit}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button type="button" *ngIf="((toDate(element.auction.timeLimit) > getDate()) || !element.hasBeenSold); else alreadySelling"
                class="delete"
                (click)="showDialog(element.id)">
          <mat-icon>local_shipping</mat-icon>
        </button>
        <ng-template #alreadySelling>
          <div><mat-icon>not_interested</mat-icon></div>
        </ng-template>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
