.container {
  float: left;
  width: 500px;
  color: #484848;
}
#textarea {
  height: 157px;
  margin-bottom: -5px;
}
#option {
  font-size: 12px;
}
.mt {
  margin-top: 35px !important;
}
.form ::ng-deep pizza-display {
  margin: 0 0 35px;
}
.form h4 {
  margin: 0 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form label {
  margin: 0 0 35px;
  display: block;
}
.form__error {
  padding: 5px 10px;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  background: #aa141b;
  border: 1px solid #aa141b;
  width: 100%;
  color: #fff;
}
.form__error p {
  font-size: 14px;
  margin: 0;
}
.form__input {
  height: 28px;
  margin: 0;
  padding: 10px;
  outline: 0;
  width: 100%;
  border-radius: 4px;
  font-size: 20px;
  background: white;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px #ccc;
}
.form__input.error {
  border-radius: 4px 4px 0 0;
  border-color: #aa141b;
}
.form__input.error:last-child {
  border-radius: 4px;
}
.form__upload {
  display: flex;
  margin-top: -20px;
}
.form__upload-btn {
  border: 1px solid gray;
  height: 48px;
  width: 240px;
  background-color: #f7f5f2;
  font-size: 15px;
  outline: none;
  margin-right: 30px;
  border-radius: 2px;
  letter-spacing: 1px;
  color: #484848;
}
.form__upload-btn:hover {
  cursor: pointer;
}
.form #imgName {
  margin-right: -20px;
  width: 669px;
}
.form__submit {
  display: flex;
  justify-content: space-between;
}
.form__submit .btn {
  margin-right: -20px;
  width: 150px;
  background-color: #444;
  color: #fff;
  outline: none;
  font-size: 15px;
  padding: 20px;
  border-radius: 4px;
  letter-spacing: 1px;
}
.form__submit .btn:hover {
  cursor: pointer;
}
.form__actions {
  margin: 35px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__actions button:last-child {
  margin-left: auto;
}
.form__list {
  margin: -20px 0 0;
}
.select-style {
  width: 120px;
  max-height: 48px;
  height: 48px;
}
.select-style select {
  padding: 14px;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px;
  background: transparent url("../../../assets/icones/select.png") no-repeat, repeat right 0.7em top 50%, 0 0;
  background-size: 20px auto, 100%;
}
.select-style select:focus {
  outline: none;
}
.select-style select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
