<main class="container">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img data-image="black" class="active" src="assets/images/no_preview.png" alt="">
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span class="margin-1p" *ngFor="let category of article.categories">{{category.name}}</span>
      <h1>{{article.name}}</h1>
      <p>{{article.description}}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <div class="product-color">
        <h2>Informations</h2>
        <div class="color-choose" *ngIf="article.auction; else notAlreadySelling">
          <h3>Start price : </h3>
          <div>{{article.auction.firstPrice}}</div>
          <hr class="little-hr">
          <h3>Best participation : </h3>
          <div *ngIf="article.auction?.best; else noBestAuction">{{article.auction.best.price}}</div>
          <ng-template #noBestAuction>
            <div>No auction</div>
          </ng-template>
          <hr class="little-hr">
          <h3>End Date : </h3> {{article.auction.timeLimit}}
        </div>
      </div>
      <ng-template #notAlreadySelling>
          <div class="color-choose">
            <h3>This is article is not associate to an auction.</h3>
          </div>
      </ng-template>

      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="participations">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element['login']}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
  </div>
</main>
